PORT=7860
FFMPEG_EXE=/usr/local/bin/ffmpeg
IMAGEIO_FFMPEG_EXE=/usr/local/bin/ffmpeg
NVIDIA_VISIBLE_DEVICES=all
NVIDIA_DRIVER_CAPABILITIES=compute,utility,video
TORCH_WHEEL_INDEX_URL=https://download.pytorch.org/whl/cu121
APP_UID=1000
APP_GID=1000
